body{
    margin: 0px; 
    background: white 
    height: 100%;
}

.service{
    text-align: center;
    border-bottom: 20%;
    color: black;
    border-bottom: 5px solid orange;
}

span{
    color: red;
}

.Lorem{
    text-align: center;
    font-size: 21px;
}

.UI p{
    font-size: 15px;
}

.UX{
    font-size: 15px;
}

.Marketing{ 
    font-size: 15px;
}

.SEO{ 
    font-size: 15px;
}

.Android{
    font-size: 15px;
}

.clean{
    font-size: 15px;
}

h2{
    text-align: left;
}